<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="company" value="http://192.168.221.207:8088/nexus/repository/nuget-group/index.json" allowInsecureConnections="true"/>
    </packageSources>

    <!-- 如果需要认证 -->

    <packageSourceCredentials>
        <company>
            <add key="Username" value="dev" />
            <add key="ClearTextPassword" value="goodwe123" />
        </company>
    </packageSourceCredentials>

</configuration>